.ProjDom{
    height: 85vh;
    /* display: flex; */
    gap: 2rem;
    margin: 2rem;
    /* align-items: center; */
    /* justify-content:space-around; */
    padding: 4rem;
    /* background-color: wheat; */
}

.projDom-head{
    font-size: 8rem;
    font-weight: bolder;
    border-bottom: 2px solid  #a3dae0;
    /* display: flex;
    justify-content:; */
}

.domains-card{
    border: 1px solid red;
    display: flex;
    justify-content:space-between;
    margin: 2rem;
    padding: 2rem;
    
}