.nav{
    margin: 0;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo{
    height: 70%;
    width: auto;
}

.logo img{
    height: 100%;
}

.nav-buttons ul {
    /* overflow-x: visible; */
    list-style: none;
    display: flex;
    gap: 1rem;
    /* background-color: #ce1a1e; */
    /* padding-right: 1rem; */
}

.nav-buttons ul li button.login-btn{
    background-color: #ce1a1e;
    /* border: 2px solid #ae7c54; */
    color: white;
}

.nav-buttons ul li button.register-btn{
    box-shadow:inset 0px 0px 0px 2px #ce1a1e;
    color: white;
}

.nav-buttons ul li button{
    background-color: #ffffff00;
    border: none;
    color: #a3dae0;
    font-size: 1.3rem;
    transition: 0.1s ease;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    border-radius: 0.5rem;
}

.nav-buttons ul li button:hover{
    color: white;
    text-shadow: 0px 1px 10px rgba(245, 245, 245, 0.519);
}

@media only screen and (max-width: 850px){
    .nav{
        height: 6rem;
    }
    .logo{
        height: 15%;
    }
    .nav-buttons ul{
        width: 70vw;
        display: grid;
        align-items: center;
        place-items: center;
        /* justify-content: center; */
        grid-template-columns: 70px 70px 70px;
        overflow-x: hidden;
        gap: 0 1rem;
    }
    .nav-buttons ul li button{
        font-size: 0.7rem;
        /* background-color: #ce1a1e; */
    }
}


