.register-container{
    /* background-color:  #101528b9; */
    height: 145vh;
    height: 145vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.register-bg{
    height: 130vh;
    width: 50vw;
    background-color: #031b2ee4;
    padding: 30px;
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  

} 

.reg-txt{
    position: relative;
    margin-bottom: 15px;
    left: 35%;

}

.input-box input{
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    /* margin-left: 20px; */
    height: 5vh;
    width: 25vw;
    border: none;
    border-bottom: 2px solid rgb(23, 96, 96);
}

.input-box{
    margin-top: 5px;
}
#abt-u{
    height: 25vh;
    width: 40vw;
}

.reg-but{
    background-color:#3987c6;
    color: white;
    margin: 20px;
    height: 35px;
    width: 90px;
    border-radius: 25px;
    border-style: none;
    position: relative;
    left: 40%;
}
.reg-but:hover{
    /* scale: 1.2em; */
    background: white;
    color: #3987c6;
    transition: all ease 1s;
}
@media (max-width: 850px){
.register-bg{
    height: 130vh;
    width: 50vw;
    background-color: #031b2ee4;
    padding: 30px;
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  

} 

.reg-txt{
    position: relative;
    margin-bottom: 15px;
    left: 35%;

}

.input-box input{
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
    /* margin-left: 20px; */
    height: 5vh;
    width: 25vw;
    border: none;
    border-bottom: 2px solid rgb(23, 96, 96);
}

.input-box{
    margin-top: 5px;
}
#abt-u{
    height: 25vh;
    width: 40vw;
}

.reg-but{
    background-color:#3987c6;
    color: white;
    margin: 20px;
    height: 35px;
    width: 90px;
    border-radius: 25px;
    border-style: none;
    position: relative;
    left: 40%;
}
.reg-but:hover{
    /* scale: 1.2em; */
    background: white;
    color: #3987c6;
    transition: all ease 1s;
}
}
/* @media (max-width: 850px){
    .register-bg{
    height: 90vh;
    width: 30vw;
    background-color: black;
    padding: 30px;
}

    padding: 30px;
}

.register{
    display: grid;
    place-items: center;
}

.input-box input{
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 20px;
}
} */